<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>KHT - profile</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
        <p class='KSK'>KSK
        <form method='POST' action='/home'>
        <input type='submit' class='logout' value='Logout' />
    </form>
        </p>
        <div class='content'>
        <div class='left_content'>
            <div>
        <h1 class='name'><%= username %></h1>
        <h2 class='status'>
        <% if(type=="0") { %>
        User Account
        <% } else { %>
        Bussiness Account
        <% } %>
    	</h2>
        <div class='bonus'>
        	<h1 class='name'>Bonus</h1>
        	<form method='POST' action='/bonus' class='bonus_form'>
        	<div class='bonus_content'>
        		<input type='submit' value='5% OFF' name='bonus' class='button_pay'/>
        		<p>50 KHT</p>
        	</div>
        	<div class='bonus_content'>
        		<input type='submit' value='10% OFF' name='bonus' class='button_pay'/>
        		<p>500 KHT</p>
        	</div>
	        </form>
        </div>
        <h1 class='Badges_title'>Badges</h1>
        <center>
        <div class='badges'>
        <img src='<% if (badges[0] == 0) {%>
        <%="images/badge_blood_empty.png"%>
        <%} else {%>
        <%="images/badge_blood_full.png"%>
        <%}%>' class='badge_img' />
        <img src='<% if (badges[1] == 0) {%>
        <%="images/badge_first_empty.png"%>
        <%} else {%>
        <%="images/badge_first_full.png"%>
        <%}%>' class='badge_img' />
        <img src='<% if (badges[2] == 0) {%>
        <%="images/badge_hand_empty.png"%>
        <%} else {%>
        <%="images/badge_hand_full.png"%>
        <%}%>' class='badge_img' />
        <img src='<% if (badges[3] == 0) {%>
        <%="images/badge_site_empty.png"%>
        <%} else {%>
        <%="images/badge_site_full.png"%>
        <%}%>' class='badge_img' />
    </div>
</center>
    </div>
    </div>
        <div class='right_content'>
            <div class='balance_content'>
        <h1 class='Balance_title'>Balance</h1>
        <h2 class='balance'><%= balance %> KHT</h2>
        <a class='history_link' href='/history'>History</a>
    </div>

        <form action="/send" method="POST" class='form'>
            <div>
                <label class='label' for='amount'>Send</label>
                <input class='input_text padd' type="text" name="amount" placeholder="0.00 KTH" id='amount' required>
            </div>
            <div>
                <label class='label' for='name'>to</label>
                <input class='input_text pass padd' type="text" name="name" placeholder="dw name" required>
            </div>
            	<div style="color:red; font-size: 1.5em;"><%= message %></div>
                <input type="submit" class='button_pay padd' value='Pay'>  	
            </form>
        </div>
        </div>
    </body>
</html>